.stat {
  margin:20px auto;
  text-align:center;

}
.stat i {
  color:#39c;
}

.mat-cell {
  color: #d7d7d7;
}
.mat-header-row, .mat-row{
  color: #d7d7d7;
}

.mat-placeholder {
  color: white;
}

.mat-input-underline {
  background-color: white;
}

.mat-header-cell{
  font-size:14px;
}

.mat-form-field{
  padding-left: 10px;
}
