<mat-toolbar class="toolbar">
  <i class="material-icons" routerLink={{toolbarLink}} *ngIf="toolbarArrow">arrow_back</i>
  <div class="header-text">
    <div class="title">{{toolbarTitle}}</div>
    <div class="sub-title">{{toolbarSubtitle}}</div>
  </div>
  <!-- Navigation -->
  <nav class="links">
    <a href="http://www.realitymod.com/mapgallery/" class="link">Map Gallery</a>
    <a href="http://www.realitymod.com/prspy/" class="link">PRSPY</a>
    <a href="http://www.realitymod.com/forum/" class="link">Forums</a>
  </nav>
  <span></span>
</mat-toolbar>
<mat-card class="wipcard">
  <mat-card-content>
      This website and the presented data is a work in progress. Do not use this data alone to draw any conclusions!
  </mat-card-content>

</mat-card>
