  <mat-toolbar class="toolbar">
    <div class="header-text">
      <a class="title" routerLink="/dashboard">Project Reality: Statistics</a>
    </div>
    <!-- Navigation -->
    <nav class="links">
      <a href="http://www.realitymod.com/mapgallery/" class="link">Map Gallery</a>
      <a href="http://www.realitymod.com/prspy/" class="link">PRSPY</a>
      <a href="http://www.realitymod.com/forum/" class="link">Forums</a>
    </nav>
    <span></span>
  </mat-toolbar>
<router-outlet></router-outlet>


