tr.route td{
  background-color: rgba(244, 235, 235, 0.78);
}
tr.layer td{
  background-color: rgba(181, 175, 175, 0.78);
}

tr.gamemode td{
  background-color: rgba(128, 124, 124, 0.78);
}
tr.map td{
  background-color: rgba(87, 83, 83, 0.78);
}

tr.header td, th{
  color: #d8d8d8;
}

