<app-toolbar [(title)]="pageTitle" [(subtitle)]="pageSubtitle" [(arrow)]="pageArrow" [(link)]="pageLink"></app-toolbar>
<div class="mapdetail">
  <h2 class="mat-display-1">Statistics</h2>
  <mat-card>
    <mat-card-content>
      <mat-tab-group class="demo-tab-group">
        <ng-template ngFor let-version [ngForOf]="versionList" let-i="index">
          <mat-tab label="{{version}}">
            <div class="demo-tab-content">
              <table class="table table-hover">
                <thead>
                <tr class="header">
                  <th scope="col"></th>
                  <th scope="col"># played</th>
                  <th scope="col">Avg. duration</th>
                  <th scope="col">Avg. tickets Opfor</th>
                  <th scope="col">Avg. tickets Blufor</th>
                  <th scope="col"># wins team Opfor</th>
                  <th scope="col"># wins team Blufor</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{pageSubtitle}}(excluding COOP)</td>
                  <td>{{statistics[i]?.timesPlayed}}</td>
                  <td>{{statistics[i]?.averageDuration.toFixed() | number}} min</td>
                  <td>{{statistics[i]?.averageTicketsTeam1}}</td>
                  <td>{{statistics[i]?.averageTicketsTeam2}}</td>
                  <td>{{statistics[i]?.winsTeam1}} ({{statistics[i]?.winsTeam1 / statistics[i]?.timesPlayed * 100 |
                    number}}%)</td>
                  <td>{{statistics[i]?.winsTeam2}} ({{statistics[i]?.winsTeam2 / statistics[i]?.timesPlayed * 100 |
                    number}}%)</td>
                </tr>
                <ng-template ngFor let-gamemode [ngForOf]="statistics[i]?.gameModes" let-i="index">
                  <tr>
                    <td>&nbsp;<i class="material-icons">subdirectory_arrow_right</i>{{gamemode.name}}</td>
                    <td>{{gamemode.timesPlayed}}</td>
                    <td>{{gamemode.averageDuration.toFixed()}} min</td>
                    <td>{{gamemode.averageTicketsTeam1}}</td>
                    <td>{{gamemode.averageTicketsTeam2}}</td>
                    <td>{{gamemode.winsTeam1}} ({{gamemode.winsTeam1 / gamemode.timesPlayed * 100 | number}}%)</td>
                    <td>{{gamemode.winsTeam2}} ({{gamemode.winsTeam2 / gamemode.timesPlayed * 100 | number}}%)</td>
                  </tr>
                  <ng-template ngFor let-layer [ngForOf]="gamemode.layers" let-j="index">
                    <tr>
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons">subdirectory_arrow_right</i>{{layer.name}}
                      </td>
                      <td>{{layer.timesPlayed}}</td>
                      <td>{{layer.averageDuration.toFixed()}} min</td>
                      <td>{{layer.averageTicketsTeam1}}</td>
                      <td>{{layer.averageTicketsTeam2}}</td>
                      <td>{{layer.winsTeam1}} ({{layer.winsTeam1 / layer.timesPlayed * 100 | number}}%)</td>
                      <td>{{layer.winsTeam2}} ({{layer.winsTeam2 / layer.timesPlayed * 100 | number}}%)</td>
                    </tr>
                    <ng-template *ngIf="gamemode.name == 'Advance & Secure'" ngFor let-route [ngForOf]="layer.routes"
                                 let-m="index">
                      <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons">subdirectory_arrow_right</i>{{route.id}}
                        </td>
                        <td>{{route.timesPlayed}}</td>
                        <td>{{route.averageDuration.toFixed()}} min</td>
                        <td>{{route.averageTicketsTeam1}}</td>
                        <td>{{route.averageTicketsTeam2}}</td>
                        <td>{{route.winsTeam1}} ({{route.winsTeam1 / route.timesPlayed * 100 | number}}%)</td>
                        <td>{{route.winsTeam2}} ({{route.winsTeam2 / route.timesPlayed * 100 | number}}%)</td>
                      </tr>
                    </ng-template>
                  </ng-template>
                </ng-template>
                </tbody>
              </table>
            </div>
          </mat-tab>
        </ng-template>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
  <h2 class="mat-display-1">Heatmaps</h2>
  <h3 class="subheading-2">Selection</h3>
    <mat-form-field>
      <mat-select placeholder="Version" [(value)]="selectedVersion">
        <ng-template ngFor let-version [ngForOf]="versionList" let-i="index">
          <mat-option (click)="clickHeatMapForm()" value={{i}}>{{version}}</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="GameMode" [(value)]="selectedGameMode">
        <mat-option (click)="clickHeatMapForm()" value="none">All</mat-option>
        <ng-template ngFor let-gamemode [ngForOf]="statistics[selectedVersion]?.gameModes" let-j="index">
          <mat-option (click)="clickHeatMapForm()" value={{j}}>{{gamemode?.name}}</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Layer" [(value)]="selectedLayer">
        <mat-option (click)="clickHeatMapForm()" value="none">All</mat-option>
        <ng-template ngFor let-layer [ngForOf]="statistics[selectedVersion]?.gameModes[selectedGameMode]?.layers" let-k="index">
          <mat-option (click)="clickHeatMapForm()" value={{k}}>{{layer?.name}}</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Route" [(value)]="selectedRoute">
        <mat-option (click)="clickHeatMapForm()" value="none">All</mat-option>
        <ng-template ngFor let-route [ngForOf]="statistics[selectedVersion]?.gameModes[selectedGameMode]?.layers[selectedLayer]?.routes" let-l="index">
          <mat-option (click)="clickHeatMapForm()" value={{l}}>{{route?.id}}</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
    <h3 class="subheading-2">Legend</h3>
    <img class="legend" src="../assets/legend.png">
    <h3 class="subheading-2">Time spend on location</h3>
    <div class="combinedMovementMap" id="combinedMovementMap" [ngStyle]="{'background-image': 'url(' + mapImageURL + ')'}"></div>
</div>
