<div *ngIf="level">
  <h1 class="display-4">{{mapName}} details</h1>
<table class="table">
  <thead>
  <tr class="header">
    <th scope="col"></th>
    <th scope="col"># Played</th>
    <th scope="col">Avg. Duration</th>
    <th scope="col">Avg. Tickets Team 1</th>
    <th scope="col">Avg. Tickets Team 2</th>
    <th scope="col"># Wins Team 1</th>
    <th scope="col"># Wins Team 2</th>
    <th scope="col"># Draws</th>
  </tr>
  </thead>
  <tbody>
  <tr class="map">
    <td><b>{{mapName}}</b></td>
    <td>{{level.timesPlayed}}</td>
    <td>{{level.averageDuration.toFixed() | number}} min</td>
    <td>{{level.averageTicketsTeam1}}</td>
    <td>{{level.averageTicketsTeam2}}</td>
    <td>{{level.winsTeam1}}</td>
    <td>{{level.winsTeam2}}</td>
    <td>{{level.draws}}</td>
  </tr>
  <ng-template ngFor let-gamemode [ngForOf]= "level.gameModes" let-i="index">
    <tr class="gamemode">
    <td><i>&nbsp;{{gamemode.name}}</i></td>
    <td>{{gamemode.timesPlayed}}</td>
    <td>{{gamemode.averageDuration.toFixed()}} min</td>
    <td>{{gamemode.averageTicketsTeam1}}</td>
    <td>{{gamemode.averageTicketsTeam2}}</td>
    <td>{{gamemode.winsTeam1}}</td>
    <td>{{gamemode.winsTeam2}}</td>
    <td>{{gamemode.draws}}</td>
    </tr>
    <ng-template ngFor let-layer [ngForOf]= "gamemode.layers" let-j="index">
      <tr class="layer">
        <td>&nbsp;&nbsp;&nbsp;{{layer.name}}</td>
        <td>{{layer.timesPlayed}}</td>
        <td>{{layer.averageDuration.toFixed()}} min</td>
        <td>{{layer.averageTicketsTeam1}}</td>
        <td>{{layer.averageTicketsTeam2}}</td>
        <td>{{layer.winsTeam1}}</td>
        <td>{{layer.winsTeam2}}</td>
        <td>{{layer.draws}}</td>
      </tr>
      <ng-template ngFor let-route [ngForOf]= "layer.routes" let-m="index">
        <tr class="route">
          <td>&nbsp;&nbsp;&nbsp;&nbsp;{{route.id}}</td>
          <td>{{route.timesPlayed}}</td>
          <td>{{route.averageDuration.toFixed()}} min</td>
          <td>{{route.averageTicketsTeam1}}</td>
          <td>{{route.averageTicketsTeam2}}</td>
          <td>{{route.winsTeam1}}</td>
          <td>{{route.winsTeam2}}</td>
          <td>{{route.draws}}</td>
        </tr>
      </ng-template>
    </ng-template>
  </ng-template>
  </tbody>
</table>
<button type="button" class="btn" (click)="goBack()">go back</button>
</div>
