body {
  background-color: #333;
  color: white;
}
/* navbar */
.navbar-default {
  background-color: #111;
  border-color: #111;
}

.navbar-brand {
  font-size: 150%;
}
/* Title */
.navbar-default .navbar-brand {
  color: #39c;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #39c;
}
/* Link */
.navbar-default .navbar-nav > li > a {
  color: #39c;
}

.navbar {
  -webkit-box-shadow: -2px -9px 7px 12px rgba(0,0,0,0.4);
  -moz-box-shadow: -2px -9px 7px 12px rgba(0,0,0,0.4);
  box-shadow: -2px -9px 7px 12px rgba(0,0,0,0.4);

  /* the rest of your styling */
}
.custom-toggler.navbar-toggler {
  border-color: #39c;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#39c' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
